In [22]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [23]:
#Import wrangled ords

df_ords = pd.read_csv(r'C:\Users\18179\Documents\CareerFoundry\InstaCart Basket Analysis\02 Data\Prepared Data\Orders_wrangled.csv', index_col = False)

In [24]:
#import Prior Orders

df_ords_prior = pd.read_csv(r'C:\Users\18179\Documents\CareerFoundry\InstaCart Basket Analysis\02 Data\Original Data\order_products__prior.csv', index_col = False)

In [25]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [26]:
df_ords_prior.shape

(32434489, 4)

In [27]:
df_ords.shape

(3421083, 6)

In [28]:
df_ords1 = pd.read_csv(r'C:\Users\18179\Documents\CareerFoundry\InstaCart Basket Analysis\02 Data\Prepared Data\Orders_Consitency_check.csv', index_col = False)

In [29]:
df_ords1.shape

(3421083, 8)

In [30]:
df_ords1.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [31]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [38]:
df_merged_large = df_ords1.merge(df_ords_prior, on = 'order_id', indicator = True)

In [39]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [40]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [41]:
df_merged_large['_merge'].value_counts('how = outer')

both          1.0
left_only     0.0
right_only    0.0
Name: _merge, dtype: float64

In [42]:
# export merged data to pickle

df_merged_large.to_pickle(r'C:\Users\18179\Documents\CareerFoundry\InstaCart Basket Analysis\02 Data\df_ords_prods_combined.pkl')